html {
    cursor: url('crosshair.png'), auto;
    height: 100%;
}

body {
    background: url('pond.png') no-repeat;
    background-size: cover;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
}

#counter {
	font-size: 80px;
}

#lifeContainer {
    display: inline;
}

#lifeContainer img {
    width: 50px;
}

#boardContainer {
	display: block;
}

#reload {
    display: none;
    width: 200px;
}

#reload img {
    width: 200px;
}