html {
    cursor: url('crosshair.png'), auto;
    height: 100%;
}

body {
    background: url('pond.png') no-repeat;
    background-size: cover;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    align-content: center;
}

#counter {
    font-size: 80px;
}

#lifeContainer {
    float: right;
}

#lifeContainer img {
    width: 50px;
}

#boardContainer {
    float: left;
}

#reload {
    display: none;
    width: 200px;
    margin: auto;
    padding-top: 300px;
}

#reload img {
    width: 200px;
}